{% extends "landing/layout.jinja" %}
{% set hero_size = 'sm' %}

{% block page_meta %}
<title>ENSET Douala|</title>
{% endblock %}

{% block page_hero %}
<div class="hero-info w-75 d-flex flex-column justify-content-center align-items-center">
  <h3>{{ _('Deposer et suiver vos requetes en tous simplicite') }}</h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('requestnote.controle_role') }}">{{ _('Home') }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ _('Suivis de la requete') }}</li>
    </ol>
  </nav>
</div>
<div class="hero-bg">
  <img src="{{ url_for('demo.static', filename='img/hero-bg.jpg') }}" alt="">
</div>
{% endblock %}

{% block page_sections %}
<div class="container-fluid pt-2">
  <div class="row">
    <div class="col-md-8">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="col-sm-12  shadow mt-2" style="border-radius:16px">
        <div class="card ">
          <!-- bg-{{requete.get_color}} -->
          <div class="card-header bg-{{requete.get_statut.status.color}} text-light">Date de depot :
            {{requete.date_engr.strftime('%d/%m/%Y %H:%M')}}</div>
          <div class="card-body">
            <h5 class="card-title">{{requete.objet}} <span
                class="badge bg-{{requete.get_statut.status.color}}">{{requete.get_statut.status.nom}}</span>
            </h5>
            <p class="card-text">
              {% if requete.description %}
              </b>{{requete.description}}</p>
            {% endif %}
            <p class="card-text">
              <b>Matiere : </b>{{requete.intitule_ec}} <br>
              <b>Enseignant</b> : M./Mme{{responsable.nom}} <br>
              <b> piece jointe</b> :
              {% if requete.piece %}
              <a href="{{ url_for('requestnote.ouvrir_fichier', id=requete.id) }}" target="_blank"> <span
                  class="badge rounded-pill bg-info">Ouvrir</span></a>
              {% else %}
              <span class="badge rounded-pill bg-info">Aucune</span>
              {% endif %}
              <br>
              <b> Justificatif</b> : <span class="badge rounded-pill bg-info">{{justificatifs|length}}</span>
              
              {% if requete.get_statut.commentaire %}
              <br>
              <b> Observation : </b> {{requete.get_statut.commentaire}}
              {% endif %}
              <br>
              <b>Date:</b> {{requete.get_statut.date_tr.strftime('%d/%m/%Y %H:%M')}}
              <!-- {% if requete.date_fin %}
              <b>Date de fin :</b> {{requete.date_fin.strftime('%d/%m/%Y %H:%M')}}
              {% else %}
              <b>Date de fin : </b> <span class="badge rounded-pill bg-info">en cours</span>
              {% endif %} -->
            </p>
          </div>
          <div class="card-footer">

            {% if requete.get_statut.status.nom == 'suspendu' %}
            <button type="button" class="btn btn-primary text-light" data-bs-toggle="modal"
              data-bs-target="#addjustifi">
              <i class="fa-solid fa-plus"></i> Ajouter un justificatif
            </button>
            {% endif %}

            {% if requete.get_statut.status.nom == 'en attente' %}
            <button type="button" class="btn btn-primary text-light" data-bs-toggle="modal"
             data-bs-target="#update">
              <i class="fa-solid fa-pencil"></i>
            </button>
            <a href="{{url_for('requestnote.delete_requete', id=requete.id)}}" class="btn btn-danger"><i
                class="fa-solid fa-trash"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
      
      
      <!-- justificatifs -->
      <div class="col-sm-12 shadow mt-2" style="border-radius:16px">
        {% if justificatifs %}
        {% include "includes/list-justificatif.jinja" %}
        {% endif %}
      </div>

      <!-- traitements -->
      <div class="col-sm-12 shadow mt-2" style="border-radius:16px">
        {% if traitements %}
        {% include "includes/list-traitements.jinja" %}
        {% endif %}
      </div>
      
      <!-- modal -->
      {% include "includes/add-justificatif.jinja" %}
      {% include "includes/update-requete.jinja" %}
    </div>
    <div class="col-md-4 pt-2 bg-light">
      <div data-bs-spy="scroll" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
        {% include "includes/sidebar.jinja" %}
      </div>
    </div>
  </div>

  <!-- statistique 
    <section id="stats" class="stats mt-4">
      <div class="container">
        <div class="row gy-4 my-2">
          <div class="col-lg-4 col-md-6 my-0">
            <div class="stats-item">
              <i class="fa-solid fa-check-double"></i>
              <span data-purecounter-start="0" data-purecounter-end="300" data-purecounter-duration="1"
                class="purecounter">
              </span>
              <p>Special title treatment</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 my-0">
            <div class="stats-item">
              <i class="fa-solid fa-check-double"></i>
              <span data-purecounter-start="0" data-purecounter-end="300" data-purecounter-duration="1"
                class="purecounter">
              </span>
              <p>Special title treatment</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 my-0">
            <div class="stats-item">
              <i class="fa-solid fa-check-double"></i>
              <span data-purecounter-start="0" data-purecounter-end="300" data-purecounter-duration="1"
                class="purecounter">
              </span>
              <p>Special title treatment</p>
            </div>
          </div>
        </div>
      </div>
    </section>-->
</div>
{% endblock %}