{% extends "landing/layout.jinja" %}
{% set hero_size = 'sm'%}

{% block page_hero %}
<div class="hero-info w-75 d-flex flex-column justify-content-center align-items-center">
  <h3>{{ _('Deposer et suiver vos requetes en tous simplicite') }}</h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('requestnote.controle_role') }}">{{ _('Home') }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ _('mes requetes') }}</li>
    </ol>
  </nav>
</div>
{% endblock %}

{% block page_sections %}

<div class="container-fluid">
  <div class="row">
    <div class="stats col-md-3  pt-3 shadow bg-light">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header bg-primary text-light"></div>
            <div class="card-body">
              <h5 class="card-title"><a href="{{ url_for('requestnote.send_requete') }}"><i
                    class="fa-solid fa-plus"></i> Soumettre une requete</a></h5>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mt-2">
          <div class="card bordered">
            <div class="card-header bg-info"></div>
            <div class="card-body">
              <h5 class="card-title text-center">
              <a href="{{url_for('requestnote.index')}}">0{{nombre}} Requete(s)</a>  
              </h5>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mt-2">
          <div class="card">
            <div class="card-header bg-secondary text-light"></div>
            <div class="card-body"> 
              <h5 class="card-title text-center"> <a href="{{url_for('requestnote.index', statut='en attente')}}"> 0{{debut|length}} en attente</a></h5>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mt-2">
          <div class="card">
            <div class="card-header bg-warning text-light"></div>
            <div class="card-body">
              <h5 class="card-title text-center"> <a href="{{url_for('requestnote.index', statut='approuver')}}"> 0{{approuver|length}} Approuver</a></h5>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mt-2">
          <div class="card">
            <div class="card-header bg-dark text-light"></div>
            <div class="card-body">
              <h5 class="card-title text-center"><a href="{{url_for('requestnote.index', statut='suspendu')}}"> 0{{suspendu|length}} Suspendu</a></h5>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mt-2">
          <div class="card">
            <div class="card-header bg-danger text-light"></div>
            <div class="card-body">
              <h5 class="card-title text-center"><a href="{{url_for('requestnote.index', statut='rejeter')}}">0{{rejeter|length}} Rejeter</a></h5>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mt-2">
          <div class="card">
            <div class="card-header bg-warning text-light"></div>
            <div class="card-body">
              <h5 class="card-title text-center"><a href="{{url_for('requestnote.index', statut='valider')}}">0{{ valider|length}} Valider</a></u></h5>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mt-2">
          <div class="card">
            <div class="card-header bg-success text-light"></div>
            <div class="card-body">
              <h5 class="card-title text-center"><a href="{{url_for('requestnote.index', statut='terminer')}}">0{{ terminer|length}} Terminer</a></u></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      {% include "includes/sidebar.jinja" %}
    </div>
    </div>
  </div>
</div>
{% endblock%}